.card {
  padding: 25px;
  font-family: 'ExonRegular';
}
  
form {
  border: 3px solid #f1f1f1;
  width: 50%;
  margin: auto;
  
}
  
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: 'ExonRegular';
}
  
button {
  background-color: #1abc9c;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: 'ExonRegular';
  font-size: 16px;
}
  
button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
}


@font-face {
  font-family: 'ExonRegular';
  src: url('ExonRegular-0WjEd.otf');
}